body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: #fff;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav li {
    cursor: pointer;
}

.header-icons span {
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
    padding: 20px;
}

.filter-container {
    display: flex;
    gap:12px;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: center;
}

.filter-btn {
    padding: 10px 20px;
    background:#f2f2f2;
    border: none;
    border-radius: 25px;
    font-size:16px;
    cursor: pointer;
    transition: 0.3s;
}

.filter-btn:hover {
    background: black;
    color: white;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h3 {
    margin-top: 10px;
    font-size: 20px;
}

.product-card p {
    margin-top: 5px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

